* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h {
  font-family: Playfair Display, sans-serif;
}

.link {
  font-family: Signika;
  text-decoration: none;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url("static/fonts/PlayfairDisplay-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: Roboto;
  src: url("static/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Signika;
  src: url("static/fonts/Signika-Regular.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: Signika-Bold;
  src: url("static/fonts/Signika-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
.block-one {
  background: url("static/img/Group.jpg") no-repeat bottom/cover;
  height: 1307px;
  display: flex;
  justify-content: center;
}
.block-one .container {
  max-width: 1180px;
  justify-content: center;
}
.block-one .container h2 {
  display: flex;
  position: absolute;
  color: white;
  font-size: 32px;
  margin: 780px auto auto 58px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
.block-one .container .header-one {
  display: flex;
  white-space: nowrap;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 85px;
  max-width: 1180px;
}
.block-one .container .header-one .logo {
  display: flex;
  position: absolute;
  background: url("static/img/Sprait.png") no-repeat;
  width: 84px;
  height: 82px;
  margin-left: 60px;
}
.block-one .container .header-one .main-menu {
  display: flex;
  height: 18px;
  max-width: 642px;
  justify-content: space-between;
  text-transform: uppercase;
  position: relative;
  margin: 0 703px 0 163px;
  align-items: center;
  font-family: Signika;
}
.block-one .container .header-one .main-menu .link {
  display: flex;
  margin-right: 22px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.block-one .container .header-one .tel {
  font-family: Signika;
  display: flex;
  position: absolute;
  color: #FFE195;
  text-decoration: none;
  margin: auto auto auto 850px;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  letter-spacing: 1px;
}
.block-one .container .header-one .hover-button {
  display: flex;
  position: absolute;
  margin-left: 990px;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Signika-Bold;
}
.block-one .container .header-one .hover-button .button {
  display: flex;
  height: 30px;
  background: #FFE195;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
  padding: 6px 17px 6px 12px;
  cursor: pointer;
}
.block-one .container .header-one .hover-button .button .black-arrow {
  width: 16px;
  height: 9px;
  margin-right: 11px;
  background: url("static/img/Sprait.png") no-repeat 0px -174px;
}
.block-one .container .header-one .close-buttons:hover {
  opacity: 1;
}
.block-one .container .header-one .close-buttons {
  position: absolute;
  opacity: 0;
  margin-top: 72px;
  pointer-events: none;
  transition: opacity 500ms, transform 2000ms;
}
.block-one .container .header-one .close-buttons > div {
  background: black;
  color: #FFE195;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding: 6px 20px 6px 12px;
}
.block-one .container .header-one .close-buttons > div .yellow-arrow {
  width: 16px;
  height: 9px;
  margin-right: 11px;
  background: url("static/img/Sprait.png") no-repeat 0px -164px;
}
.block-one .container .header-one .close-buttons > div > div:not(:last-child) {
  margin-bottom: 6px;
}
.block-one main {
  display: flex;
  color: white;
  justify-content: flex-end;
  position: relative;
}
.block-one main .textbox {
  padding: 0;
  width: 580px;
  margin-top: 192px;
}
.block-one main .textbox h1 {
  margin: -15px auto -15px 60px;
  font-size: 64px;
}
.block-one main .textbox p {
  font-size: 16px;
  line-height: 26px;
  margin: 21px auto auto 60px;
  font-family: Signika;
}
.block-one .social-media-mouse {
  display: flex;
  position: absolute;
  margin: 185px auto auto 58px;
}
.block-one .social-media-mouse .social-media {
  display: flex;
}
.block-one .social-media-mouse .social-media .fb {
  background: url("static/img/Sprait.png") -1px -185px;
  width: 30px;
  height: 30px;
}
.block-one .social-media-mouse .social-media .tw {
  background: url("static/img/Sprait.png") -33px -185px;
  width: 30px;
  height: 30px;
  margin: 0 8.5px 0 8.5px;
}
.block-one .social-media-mouse .social-media .vector {
  background: url("static/img/Sprait.png") -65px -185px;
  width: 30px;
  height: 30px;
  margin: 0 8.5px 0 0;
}
.block-one .social-media-mouse .social-media .google {
  background: url("static/img/Sprait.png") -97px -185px;
  width: 30px;
  height: 30px;
}
.block-one .social-media-mouse .button-mouse {
  position: absolute;
  width: 22px;
  height: 36px;
  background: url("static/img/Group 2.png");
  left: 605px;
  bottom: 4px;
}
.block-one .feedback-box {
  font-family: Signika;
  display: flex;
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  width: 1180px;
  margin-top: 337px;
  margin-left: 57px;
}
.block-one .feedback-box .name-box {
  display: flex;
}
.block-one .feedback-box .name-box .full-feedback {
  display: flex;
  position: relative;
  justify-content: center;
  text-align: left;
}
.block-one .feedback-box .name-box .full-feedback .arrows {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 38px;
}
.block-one .feedback-box .name-box .full-feedback .arrows .arrow-one {
  display: flex;
  position: relative;
  background: url("static/img/Sprait.png") -17px -163px;
  height: 20px;
  width: 12px;
  left: 633px;
}
.block-one .feedback-box .name-box .full-feedback .arrows .arrow-two {
  display: flex;
  position: relative;
  background: url("static/img/Sprait.png") -17px -163px;
  height: 20px;
  width: 12px;
  transform: scale(-1, 1);
  right: 670px;
}
.block-one .feedback-box .name-box .full-feedback .feedback {
  margin-top: 25px;
}
.block-one .feedback-box .name-box .full-feedback .feedback :nth-child(1) {
  width: 280px;
  height: 17px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 25px;
  display: flex;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
}
.block-one .feedback-box .name-box .full-feedback .feedback :nth-child(2) {
  line-height: 23px;
  width: 270px;
  height: 170px;
  display: flex;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-top: 2px;
}

.block-two {
  background: #050713;
  height: 510px;
  display: flex;
  justify-content: center;
  color: white;
}
.block-two .container {
  justify-content: center;
  width: 1200px;
}
.block-two .container h2 {
  color: white;
  display: flex;
  margin: -146px auto 0 83px;
  width: 266px;
  height: 43px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 32px;
}
.block-two .container .one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.block-two .container .one .help-container {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 380px;
  height: 380px;
  background: rgba(27, 49, 75, 0.75) no-repeat center/cover;
  margin: 30px -50px 0px 70px;
  text-align: center;
  font-family: Signika;
}
.block-two .container .one .help-container .house {
  display: flex;
  position: absolute;
  background: url("static/img/Sprait.png") -566px -107px;
  width: 75px;
  height: 65px;
  margin: 65px auto 266px 153px;
}
.block-two .container .one .help-container .pencil {
  display: flex;
  position: absolute;
  background: url("static/img/Sprait.png") -94px -92px;
  width: 75px;
  height: 65px;
  margin: 60px auto 268px 165px;
}
.block-two .container .one .help-container .book {
  display: flex;
  position: absolute;
  background: url("static/img/Sprait.png") -178px -93px;
  width: 75px;
  height: 65px;
  margin: 60px auto 266px 175px;
}
.block-two .container .one .help-container .flower {
  display: flex;
  position: absolute;
  background: url("static/img/Sprait.png") -259px -89px;
  width: 68px;
  height: 65px;
  margin: 55px auto 266px 168px;
}
.block-two .container .one .help-container .trademarks {
  display: flex;
  position: absolute;
  background: url("static/img/Sprait.png") -328px -91px;
  width: 68px;
  height: 65px;
  margin: 56px auto 266px 162px;
}
.block-two .container .one .help-container .international {
  display: flex;
  position: absolute;
  background: url("static/img/Sprait.png") -411px -93px;
  width: 68px;
  height: 65px;
  margin: 56px auto 266px 162px;
}
.block-two .container .one .help-container .name {
  width: 136px;
  height: 20px;
  font-family: Signika;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 142px 123px auto 124px;
  justify-content: center;
  display: flex;
}
.block-two .container .one .text {
  display: flex;
  position: absolute;
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  font-size: 16px;
  margin: 186px auto auto 58px;
  height: 58px;
  width: 270px;
  text-align: center;
}
.block-two .container .one .learn-more-btn {
  display: flex;
  position: absolute;
  font-family: Signika;
  font-size: 14px;
  background: url("static/img/Rectangle 3.png");
  width: 380px;
  height: 50px;
  margin-top: 310px;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.thanks-container {
  display: flex;
  position: absolute;
  width: 1180px;
  height: 330px;
  margin-top: 95px;
  margin-left: 70px;
  background: rgba(27, 49, 75, 0.75);
}
.thanks-container .light {
  display: flex;
  position: absolute;
  background: url("static/img/Sprait.png") -486px -84px;
  width: 68px;
  height: 76px;
  margin: 75px 1003px 182px 112px;
}
.thanks-container .thanks-title {
  font-family: Playfair Display;
  display: flex;
  position: absolute;
  text-align: left;
  justify-content: flex-start;
  margin: 69px 595px 110px 202px;
  width: 320px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 32px;
}
.thanks-container .thanks-text {
  width: 381px;
  height: 100px;
  display: flex;
  position: absolute;
  margin: 76px 199px 151px 600px;
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  font-size: 16px;
}
.thanks-container .learn-more-btn {
  display: flex;
  width: 1180px;
  height: 50px;
  background: url("static/img/Rectangle 3.png");
  margin: 259px 0 21px 0;
  text-transform: uppercase;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: Signika;
}

.patents-container {
  display: flex;
  position: relative;
  margin: 495px auto auto 678px;
  width: 380px;
  height: 58px;
}
.patents-container .patents-title {
  display: flex;
  position: absolute;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 32px;
}
.patents-container .patents-text {
  display: flex;
  position: absolute;
  margin-top: 89px;
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  font-size: 16px;
}
.patents-container .button {
  display: flex;
  font-weight: bold;
  position: relative;
  margin-top: 168px;
  background: #FFE195;
  width: 203px;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: black;
  white-space: nowrap;
  font-family: Signika;
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 1px;
  flex-direction: row-reverse;
}
.patents-container .black-arrow {
  width: 16px;
  height: 9px;
  margin-right: 11px;
  background: url("static/img/Sprait.png") no-repeat 0px -174px;
}

.call-us-container {
  display: flex;
  position: relative;
  width: 1180px;
  height: 378px;
  margin-top: 235px;
  margin-left: 80px;
  background: rgba(27, 49, 75, 0.75);
}
.call-us-container .call-text {
  display: flex;
  position: absolute;
  width: 380px;
  height: 105px;
  margin: 70px 700px 193px 100px;
  justify-content: flex-start;
}
.call-us-container .call-text .call-text-title {
  display: flex;
  position: absolute;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  line-height: 52px;
  font-size: 56px;
  white-space: nowrap;
  margin-top: 25px;
}
.call-us-container .call-text .call-text-bottom-title {
  display: flex;
  position: absolute;
  width: 379px;
  height: 26px;
  margin-top: 82px;
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  font-size: 16px;
}
.call-us-container .tel {
  display: flex;
  position: absolute;
  width: 380px;
  height: 43px;
  margin: 198px auto auto 100px;
  font-size: 32px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-decoration: none;
  color: #FFE195;
}
.call-us-container .call-text-txt {
  display: flex;
  position: absolute;
  width: 380px;
  height: 131px;
  margin: 100px 200px 147px 600px;
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  font-size: 16px;
}
.call-us-container .learn-more-btn {
  background: url("static/img/Rectangle 3.png");
  width: 1180px;
  height: 50px;
  margin: 308px 0 20px 0;
  font-family: Signika;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.news {
  width: 1180px;
  height: 424px;
  margin: 262px auto auto -5px;
  display: flex;
}
.news h2 {
  width: 468px;
  height: 43px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 32px;
}
.news .picture-box {
  position: absolute;
  margin-left: 80px;
  margin-top: -70px;
  width: 1180px;
  display: flex;
  justify-content: space-between;
}
.news .picture-box .picture-one {
  display: flex;
  position: relative;
  background: url("static/img/pictureone.jpg") center/cover;
  cursor: pointer;
  width: 280px;
  height: 200px;
  justify-content: flex-start;
}
.news .picture-box .picture-one .date {
  display: flex;
  position: absolute;
  white-space: nowrap;
  width: 280px;
  height: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin: 210px 0 0 0;
}
.news .picture-box .picture-one .title-name {
  display: flex;
  position: absolute;
  width: 280px;
  height: 60px;
  margin: 234px 0 0 0;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
.news .picture-box .picture-one .news-tl-txt {
  display: flex;
  position: absolute;
  margin: 299px 0 0 0;
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  font-size: 16px;
}
.news .picture-box .picture-two {
  display: flex;
  position: relative;
  background: url("static/img/picturetwo.jpg") center/cover;
  cursor: pointer;
  width: 280px;
  height: 200px;
  justify-content: flex-start;
}
.news .picture-box .picture-two .date {
  display: flex;
  position: absolute;
  white-space: nowrap;
  width: 280px;
  height: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin: 210px 0 0 0;
}
.news .picture-box .picture-two .title-name {
  display: flex;
  position: absolute;
  width: 280px;
  height: 60px;
  margin: 234px 0 0 0;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
.news .picture-box .picture-two .news-tl-txt {
  display: flex;
  position: absolute;
  margin: 299px 0 0 0;
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  font-size: 16px;
}
.news .picture-box .picture-three {
  display: flex;
  position: relative;
  background: url("static/img/picturethree.jpg") center/cover;
  cursor: pointer;
  width: 280px;
  height: 200px;
  justify-content: flex-start;
}
.news .picture-box .picture-three .date {
  display: flex;
  position: absolute;
  white-space: nowrap;
  width: 280px;
  height: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin: 210px 0 0 0;
}
.news .picture-box .picture-three .title-name {
  display: flex;
  position: absolute;
  width: 280px;
  height: 60px;
  margin: 234px 0 0 0;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
.news .picture-box .picture-three .news-tl-txt {
  display: flex;
  position: absolute;
  margin: 299px 0 0 0;
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  font-size: 16px;
}
.news .picture-box .picture-four {
  display: flex;
  position: relative;
  background: url("static/img/picturetwo.jpg") center/cover;
  cursor: pointer;
  width: 280px;
  height: 200px;
  justify-content: flex-start;
}
.news .picture-box .picture-four .date {
  display: flex;
  position: absolute;
  white-space: nowrap;
  width: 280px;
  height: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin: 210px 0 0 0;
}
.news .picture-box .picture-four .title-name {
  display: flex;
  position: absolute;
  width: 280px;
  height: 60px;
  margin: 234px 0 0 0;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
.news .picture-box .picture-four .news-tl-txt {
  display: flex;
  position: absolute;
  margin: 299px 0 0 0;
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  font-size: 16px;
}

.foot {
  background: url("static/img/Mask Group.png") no-repeat center/cover;
  height: 1375px;
  margin-top: -5px;
  display: flex;
  justify-content: center;
}
.foot .foot-cont-plus {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  width: 1180px;
}
.foot .foot-cont-plus .footer-block {
  display: flex;
  position: absolute;
  margin-top: 367px;
  margin-left: 55px;
}
.foot .foot-cont-plus .footer-block .main-menu-two {
  margin-top: 1060px;
  display: flex;
  color: white;
  position: absolute;
  white-space: nowrap;
  justify-content: space-between;
  width: 853px;
}
.foot .foot-cont-plus .footer-block .main-menu-two .link {
  display: flex;
  margin-right: 22px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: center;
}
.foot .foot-cont-plus .footer-block .button {
  position: absolute;
  width: 225px;
  height: 30px;
  display: flex;
  margin-left: 960px;
  margin-top: -5px;
  font-family: Signika;
  color: black;
  background: #FFE195;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
  padding: 6px 17px 6px 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.foot .foot-cont-plus .footer-block .button .black-arrow {
  width: 16px;
  height: 9px;
  margin-right: 11px;
  background: url("static/img/Sprait.png") no-repeat 0px -174px;
}
.foot .foot-cont-plus .bbb {
  background: url("static/img/BBB-min.png") no-repeat center/cover;
  position: absolute;
  display: flex;
  width: 178px;
  height: 42px;
  margin: 1096px auto auto 0;
}
.foot .foot-cont-plus .napp {
  background: url("static/img/napp.png") no-repeat center/cover;
  width: 84px;
  height: 45px;
  display: flex;
  position: absolute;
  margin: 1096px auto auto 205px;
}
.foot .foot-cont-plus .media-footer {
  display: flex;
  position: absolute;
  margin: 1100px 0 auto 1040px;
}
.foot .foot-cont-plus .media-footer .fb {
  background: url("static/img/Sprait.png") -1px -185px;
  width: 30px;
  height: 30px;
}
.foot .foot-cont-plus .media-footer .tw {
  background: url("static/img/Sprait.png") -33px -185px;
  width: 30px;
  height: 30px;
  margin: 0px 8.5px 0 8.5px;
}
.foot .foot-cont-plus .media-footer .vector {
  background: url("static/img/Sprait.png") -65px -185px;
  width: 30px;
  height: 30px;
  margin: 0 8.5px 0 0;
}
.foot .foot-cont-plus .media-footer .google {
  background: url("static/img/Sprait.png") -97px -185px;
  width: 30px;
  height: 30px;
}
.foot .foot-cont-plus .rating {
  display: flex;
  position: absolute;
  margin: 1170px auto auto auto;
  color: white;
  line-height: 10px;
  font-size: 14px;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 10px;
  font-size: 14px;
  white-space: nowrap;
}
.foot .foot-cont-plus .rating .star-yellow {
  background: url("static/img/Sprait.png") -31px -165px;
  width: 18px;
  height: 18px;
  margin: 2px 2px 1px 2px;
}
.foot .foot-cont-plus .rating .star-white {
  background: url("static/img/whitestar.png");
  width: 16px;
  height: 16px;
  margin: 2px 2px 1px 2px;
}
.foot .foot-cont-plus .last-info {
  width: 374px;
  height: 36px;
  display: flex;
  position: absolute;
  margin: 1210px 0 0 0;
  white-space: nowrap;
}
.foot .foot-cont-plus .last-info > p {
  display: flex;
  line-height: 10px;
  font-size: 14px;
  color: white;
  margin-top: -4px;
}
.foot .foot-cont-plus .last-info > a {
  display: flex;
  text-decoration: none;
  line-height: 10px;
  font-size: 14px;
  color: #FFE195;
  margin-left: -348px;
  margin-top: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 10px;
  font-size: 14px;
}
.foot .foot-cont-plus .last-info .direct-line {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  width: 470px;
  height: 12px;
  margin: 20px auto auto 718px;
  line-height: 11px;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  color: white;
}

.black-bg {
  background: url("static/img/Stars.png") no-repeat bottom/100%, #050713 no-repeat bottom/cover;
  height: 1000px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 700px;
  }

  .logo {
    display: none;
  }

  main {
    max-width: 700px;
  }
}

/*# sourceMappingURL=style.css.map */
